<h1 align="left">Customers Page</h1>


<table>
  <thead>
    <tr>
      <td align="left">Name</td>
      <td  colspan="3" align="right">Display per page</td>
      <td><%= select_tag :per_page, options_for_select([2,3,4,5,6], params[:per_page].to_i),
         :onchange => "if(this.value){window.location='?per_page='+this.value;}" %>
      </td>
    </tr>
  </thead>

  <tbody>

    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>

        <td><%= link_to 'Next Packages', next_package_path(user) %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
  <%= will_paginate %>
</table>

<br>

<%= link_to 'New User', new_user_path %>
